﻿@model HelloPieShop.ViewModel.PiesListViewModel
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible"content="IE=edge"/>
    <meta name="viewport" content="width=device-width, intial-sacle=1"/>
    <title>Hello Pie Shop</title>
</head>
<body>
    @foreach(var pie in Model.Pies)
    {
        <div>
            <h2>@pie.Name</h2>
            <h3>@pie.Price.ToString("c")</h3>
            <h4>@pie.Category.CategoryName</h4>
        </div>

    }
</body>
</html>